body {
    font-family: 宋体;
}

.context > .title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.schedule {
    padding-top: 30px;
}

    .schedule > .table caption {
        text-align: center;
        background: #f6f6f6;
        border: 1px solid black;
    }

    .schedule > .table td {
        text-align: center;
        border: 1px solid black;
    }
