body {
}

.content {
    font-size:12px;
}

.contact-us {
    padding-top:100px;
    width:700px;
    padding-left:20px;
}

    .contact-us > .block-title {
        font-size: 22px;
        font-family: 宋体;
        font-weight: bold;
        padding-top:20px;
        padding-bottom:40px;
    }

    .contact-us > .block-body {
        padding: 70px 10px;
        background: #f0f0f0;
        border: 1px solid #bdbdbd;
        height: 350px;
        width:680px;
    }


.block-body > .contact-box {
    border: 1px solid #bdbdbd;
    height: 250px;
    background: #ffffff;
    width: 460px;
    float:left;
}

.block-body > .button-box {
    width: 195px;
    float:left;
    padding-left:30px;
    padding-top:50px;
}


.block-body > .button-box > div {
    padding:20px 0px;
}

    .block-body > .button-box button {
        border: 0px;
        padding: 5px 45px;
        color: white;
        font-size: 18px;
        font-family: 宋体;
    }

.contact-box > div:first-child {
    border-bottom: 1px solid #bdbdbd;
    height: 30px;
    background: #f3f3f3;
}

.contact-box > .info-block {
    padding: 20px 30px;
}

.info-block > .phone-block > img:first-child {
    float: left;
}

.info-block > .phone-block > div {
    padding-left: 120px;
    font-size: 18px;
    font-family: 宋体;
}

.info-block > .phone-block > div > div {
    padding:7px;
}
.block-footer {
    border:1px solid #bdbdbd;
    text-align:center;
    padding:10px 0px;
}