body {
}

.context > .content {
    background: #f3f3f3;
    padding: 5px;
    height: 1000px;
}
.content > div:first-child {
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 30px;
    padding: 5px;
}

.addr-list {
    padding-top: 0px;
    width: 22%;
    height: 600px;
    background: white;
    float: left;
    margin-right: 4px;
}

.map {
    background: white;
    width: 77%;
    float: right;
    padding: 5px 5px;
}

.map img {
    width:100%;
}
.addr-list > .list-group > .list-group-item {
    padding: 5px 5px !important;
}
.context > .content ul.list-group > li.list-group-item {
    border:0px;
}

.context > .content ul.list-group > li.list-group-item > a {
    border-left:4px solid #0776c7;
    background:#f4f2f3;
    width:100%;
    padding:10px 5px;
    display:block;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background:none !important;
    color:#000;
}

.context > .content li.list-group-item > ul > li  {
    list-style-type:disc;  
      font-size:12px;
      line-height:24px;
      margin-left:-20px;
}

.addr-list > ul > li.active > ul > li.active > a  {
    color:#0776c7;
}

.context > .content li.list-group-item > ul > li > a {
    text-decoration:none;
    color:black;
    padding:5px 0px;
    display:block;
    width:100%;
}
